:root {
  --primary-color: #15bf94;
  --secondary-color: #45d8b4;
  --background-dark: #000;
  --background-medium: #121212;
  --background-light: #1a1a1a;
  --background-lighter: #1e1e1e;
  --text-color: #fff;
  --text-secondary: #aaa;
  --border-color: #444444;
  --favorite-color: #bf2015;

  --header-height: 70px;
  --max-width: 1200px;

  --shadow: 0 2px 10px rgba(116, 113, 113, 0.5);
  --shadow: 0 2px 10px var(--primary-color);

  --transition: all 0.3s ease;
}
